In [2]:
import pandas as pd #подключение библиотеки пандас
import datetime #для работы с датами и временем

Объект Series

In [5]:
the_series=pd.Series([1,2,3,4,5]) #Series -- Столбец
print(the_series) # Вывод the_series
the_series # ТОЖЕ Вывод the_series, но короче.

0    1
1    2
2    3
3    4
4    5
dtype: int64

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
# Вывод отдельных элементов series
print(the_series[1]) # >>>2, т.к нумерация индекса начаниется с нуля
print(the_series[1], the_series[4]) 
the_series[[1, 4]]

2
2 5

1    2
4    5
dtype: int64

In [13]:
# Создаём Series, задавая индекс в явном виде
the_second_series=pd.Series(["One", "Two", "Three", "Four", "Five"],
                            index=["I", "II", "III", "IV", "V"])
the_second_series

I        One
II       Two
III    Three
IV      Four
V       Five
dtype: object

In [16]:
the_second_series[["II", "IV"]]
the_second_series.index # Вывод индекса отдельно от объекта

Index(['I', 'II', 'III', 'IV', 'V'], dtype='object')

Генератор DateTime

In [17]:
the_dates=pd.date_range("2022-01-01", "2022-09-26")
the_dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-09-17', '2022-09-18', '2022-09-19', '2022-09-20',
               '2022-09-21', '2022-09-22', '2022-09-23', '2022-09-24',
               '2022-09-25', '2022-09-26'],
              dtype='datetime64[ns]', length=269, freq='D')